<mat-card mat-ripple class="card-content">
    <mat-card-content>
        <form id="edit-form">
            <mat-form-field class="input-field" >
                <mat-label>Note Title</mat-label>
                <input matInput [(ngModel)]="note.title" name="title" type="text" >
            </mat-form-field> <br>
            <mat-form-field class="input-field" >
                <mat-label>Note Content</mat-label>
                <input matInput [(ngModel)]="note.content" name="content" type="text" >
            </mat-form-field>
            <mat-form-field class="input-field" >
                <mat-label>Note date</mat-label>
                <input matInput [(ngModel)]="note.date" name="date" type="text" >
            </mat-form-field>
            <mat-form-field class="input-field" >
                <mat-label>Note category</mat-label>
                <input matInput [(ngModel)]="note.category" name="cat" type="text" >
            </mat-form-field>
            <mat-form-field class="input-field" >
                <mat-label>Note priority</mat-label>
                <input matInput [(ngModel)]="note.priority" name="pri" type="text" >
            </mat-form-field>
            <mat-card-actions>
                <button color="accent" mat-icon-button (click)="editNote()">
                    <mat-icon>edit</mat-icon>
                </button>
                <button color="accent" mat-icon-button (click)="deleteNote()">
                    <mat-icon>delete</mat-icon>
                </button>
            </mat-card-actions>
        
        </form>
    </mat-card-content>