
    <mat-accordion>
      <mat-expansion-panel hideToggle>
        <mat-expansion-panel-header>
          <mat-panel-title>
           Add Notes
          </mat-panel-title>
          <mat-panel-description>
            Add Notes to the To-Do list
          </mat-panel-description>
        </mat-expansion-panel-header>
       
        <form (ngSubmit)="onSubmit(noteForm)" #noteForm ="ngForm" >
          <mat-form-field class="field">
            <mat-label>Note Title</mat-label>
            <input matInput type="text"  [(ngModel)]="note.title" placeholder="title" name="title" #title="ngModel" required>
          </mat-form-field><br>
          <mat-form-field class="field">
            <mat-label>Note Content</mat-label>
            <input matInput type="text" [(ngModel)]="note.content" placeholder="content" name="content" #content="ngModel" required>
          </mat-form-field><br>
       
          <mat-form-field appearance="fill" class="example-form-field">
            <mat-label>Choose a date</mat-label>
            <input matInput [matDatepicker]="datepicker" [(ngModel)]="note.date">
            <mat-hint>MM/DD/YYYY</mat-hint>
            <mat-datepicker-toggle matIconSuffix [for]="datepicker"></mat-datepicker-toggle>
            <mat-datepicker #datepicker>
              <mat-datepicker-actions>
                <button mat-button matDatepickerCancel>Cancel</button>
                <button mat-raised-button color="primary" matDatepickerApply>Apply</button>
              </mat-datepicker-actions>
            </mat-datepicker>
          </mat-form-field>
        <br/>
      
        
          <mat-form-field class="field">
            <mat-label>Add Category</mat-label>
            <input matInput type="text" [(ngModel)]="note.category" placeholder="category" name="category" #category="ngModel" required>   <!--"addedNote.category"--> 
          </mat-form-field><br>
      
      
          <label>Priority</label>
          <div>        
            <mat-radio-group [(ngModel)]="note.priority" name="priority" #priority="ngModel">
            <mat-radio-button value="Low">Low</mat-radio-button>
            <mat-radio-button value="Medium">Medium</mat-radio-button>
            <mat-radio-button value="High">High</mat-radio-button>
            <mat-radio-button value="Critical">Critical</mat-radio-button>
          </mat-radio-group>
        </div>
      
        <!-- </mat-form-field><br> -->
        <button mat-raised-button color="accent" type="submit" [disabled]="noteForm.invalid"><mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="save"></mat-icon>
        </button>
  
      </form>
      </mat-expansion-panel>
    </mat-accordion>